{% extends 'base.html.twig' %}

{% block title %}Register - Battleship{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Register</h4>
            </div>
            <div class="card-body">
                {{ form_start(registrationForm) }}
                    <div class="mb-3">
                        {{ form_label(registrationForm.username) }}
                        {{ form_widget(registrationForm.username) }}
                        {{ form_errors(registrationForm.username) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email) }}
                        {{ form_errors(registrationForm.email) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(registrationForm.plainPassword.first) }}
                        {{ form_widget(registrationForm.plainPassword.first) }}
                        {{ form_errors(registrationForm.plainPassword.first) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(registrationForm.plainPassword.second) }}
                        {{ form_widget(registrationForm.plainPassword.second) }}
                        {{ form_errors(registrationForm.plainPassword.second) }}
                    </div>

                    <div class="mb-3 form-check">
                        {{ form_widget(registrationForm.agreeTerms) }}
                        {{ form_label(registrationForm.agreeTerms) }}
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </div>

                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit">Register</button>
                    </div>
                {{ form_end(registrationForm) }}

                <div class="text-center mt-3">
                    <p>Already have an account? <a href="{{ path('login') }}">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
